.filter-button {
  border: 0;
  border-radius: 7px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #303958;
  background-color: #fff;
  padding: 10px 29px;
  box-shadow: 8px 15px 57px 0px #e3e7f4;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 22px;
  }

  @media screen and (max-width: 920px) {
    font-size: 12px;
    line-height: 16px;
    padding: 8.5px 2px;
  }

  &:hover {
    color: #eef3ff;
    background-color: #2b2d3a;
  }

  &:active {
    background-color: #2d76f9;
  }

  &_active {
    background-color: #2d76f9;
  }
}
