.page-title {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  line-height: 45px;
  font-weight: 500;
  color: #303958;
  margin: 0;
  padding-top: 76px;
}

@media screen and (max-width: 1024px) {
  .page-title {
    padding-top: 95px;
  }
}

@media screen and (max-width: 700px) {
  .page-title {
    padding-top: 39px;
    padding-bottom: 0;
    font-size: 21px;
    line-height: 24.9px;
  }
}
