.nav-header {
  position: relative;
  margin-left: 190px;
  margin-right: 100px;
  flex-grow: 1;
}

.nav-header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  max-width: 760px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.nav-header__link {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #303958;
}

.nav-header__link::after {
  background-color: #2d76f9;
  content: '';
  display: block;
  height: 1.2px;
  margin-left: 50%;
  margin-top: 5px;
  transition: 0.2s ease-in-out;
  width: 0px;
  border-radius: 0.6px;
}

.nav-header__link:hover::after {
  width: 100%;
  margin-left: 0;
}

.nav-header__hamburger {
  display: none;
}

.nav-header__mob-menu {
  position: absolute;
  top: -20px;
  left: -205.5px;
  width: calc(100vw - 64px);
  background-color: #f4f6fc;
  font-family: 'Open Sans';
  font-size: 30px;
  line-height: 41px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  z-index: 100;
}

.nav-header__mob-menu-links {
  list-style: none;
  margin-top: 41px;
  padding: 0;
}

.nav-header__mob-menu-link {
  text-decoration: none;
  color: #303958;
}

.nav-header__mob-menu-link-li:not(:first-child) {
  margin-top: 82px;
}

.nav-header__mob-menu-line {
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff;
}

.nav-header__mob-menu-contacts {
  list-style: none;
  padding: 0;
}

.nav-header__mob-menu-contacts-li:not(:first-child) {
  margin-top: 38px;
}

.nav-header__mob-menu-contacts-link {
  text-decoration: none;
  color: #a5b5ca;
}

.nav-header__mob-menu-theme-switch {
  background-color: transparent;
  background-image: url('../../../images/theme-switch.svg');
  border: 0;
  height: 34px;
  width: 64px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 148px;
}

.nav-header__menu-close-icon {
  background-image: url('../../../images/menu-mobile-icon-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  margin-top: 97px;
  margin-right: 92px;
  border: 0;
  background-color: transparent;
  align-self: end;
  cursor: pointer;
}

.nav-header__mob-contacts-heading {
  color: #a5b5ca;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 41px;
  font-weight: 400;
  margin-top: 48px;
}

@media screen and (max-width: 1024px) {
  .nav-header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .nav-header__hamburger {
    margin: 0;
    padding: 0;
    display: block;
    border: 0;
    background-color: transparent;
    background-image: url('../../../images/menu-burger-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .nav-header__hamburger {
    background-image: url('../../../images/menu-burger-icon-mini.svg');
  }

  .nav-header__mob-menu {
    padding-left: 24px;
    left: -117px;
    width: calc(100vw - 24px);
  }

  .nav-header__mob-menu-link-li:not(:first-child) {
    margin-top: 30px;
  }

  .nav-header__mob-menu-link {
    font-size: 18px;
    line-height: 25px;
  }

  .nav-header__mob-contacts-heading {
    font-size: 18px;
    line-height: 25px;
    margin-top: 38px;
  }

  .nav-header__mob-menu-contacts-li:not(:first-child) {
    margin-top: 19px;
  }

  .nav-header__mob-menu-contacts-link {
    font-size: 16px;
    line-height: 22px;
  }

  .nav-header__menu-close-icon {
    margin-top: 42px;
    margin-right: 33px;
  }
}
